body{
    display: flex;
    height: 100%;
}

.center-container{
    justify-content:center;
    align-items: center;
}


.header{
    background: #52796F;
    height: 15vh;
    max-height: 130px;
    border-bottom: 0px solid darkslategrey;
}


.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow:1;
}

.header-button{
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: center;
    height: 100%
}

.active{
    color: white;
    font-weight: bold;
    border-bottom: 2px solid white;  
}

.header-button > .md-icon{
    margin: 10px;
}

.header-button.active > .md-icon{
    color: white;
}
.jackies-tab{
    background: transparent;
}

.md-card{
    background: ghostwhite;
}
