body{
    display: flex;
    height: 100%;
}

.center-container{
    justify-content:center;
    align-items: center;
}


.header{
    background: lightblue;
    color: darkslategray;
    height: 20%;
    max-height: 130px;
    padding: 10px;
}

